body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
video{
  width: 100%;
}
.navbar-static{
  border-radius: 0;
  margin-bottom: 0;
  -webkit-box-shadow: 0 8px 6px -6px #e8e8e8;
  -moz-box-shadow: 0 8px 6px -6px #e8e8e8;
  box-shadow: 0 8px 6px -6px #e8e8e8;
}
.cameraMainBlock{
  text-align: center;
}
.btn-primary{
  border-radius: 0;
  margin: 1.5em 0;
  background-color: #24a7f8;
  background-image: linear-gradient(to bottom, #24a7f8, #24a7f8);
  border-color: #24a7f8;
  box-shadow: none;
  font-size: 18px;
  text-shadow: none;
  padding: 3px 20px;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus{
  background-color: #28d9f8;
  background-image: linear-gradient(to bottom, #28d9f8, #28d9f8);
  border-color: #28d9f8;
}
.navbar-brand{
  padding: 0 10px;
}
.brandLogo{
  width: 150px;
}
.cameraButton{
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
}
.cameraButton:focus{
  outline: none !important;
  box-shadow: none;
}
.align-v-h-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.capturedImage img{
  width: 80%;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
}
.border-none-table tbody tr td{
  border: none;
}